<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhixiaoapp">

    <application>
        <activity
            android:name=".activity.ForgetPayPassActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.SelectPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ForgetLoginPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.StartActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.InformationActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.ModifyLoginPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ModifyPayPasswordActivity"
            android:launchMode="singleTop" />

    </application>

</manifest>